node_modules
backend/node_modules
backend/public/hot
backend/public/storage/*
backend/storage/*.key
backend/vendor
backend/.idea
backend/.vagrant
backend/Homestead.json
backend/Homestead.yaml
backend/.env
backend/storage/app/public/*
backend/.docker/database
backend/docker-compose.yml
backend/env/local.env
backend/*.cache
backend/coverage
backend/*.sqlite-journal
frontend/node_modules
frontend/.next
frontend/package-lock.json